@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}

body {
    background-color: aliceblue;
}

.hide {
    display: none !important;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}


p {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    max-width: 60rem;
    text-align: left;
}

button {
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}

button:hover {
    background-color: aqua;
    cursor: pointer;
}

#content {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: aqua;
}

#entry {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#entry main {
    display: block;
    text-align: center;

}

#entry main h1 {
    color: teal;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: 'Sriracha', cursive;
}

#entry main button {
    background: transparent;
    border: none;
    color: maroon;
    font-size: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

#entry main button:hover {
    animation: shake .1s ease 0s infinite;
}


#entry main p {
    color: black;
    font-size: 1.2rem;
}

#entry #cursor {
    position: absolute;
    width: 70vh;
    height: 70vh;
    margin-top: -35vh;
    margin-left: -35vh;
    border-radius: 50%;
    background: teal;
    top: -50vh;
    left: -50vw;
    z-index: -1;
    /* transform: scale(0);
    transition: transform 1s ease-in; */
}
/* #entry #cursor.active {
    transform: scale(1);
} */

@keyframes shake {
    0% {
        color: maroon;
        margin-left: 0;
    }
    20% {
        color: yellow;
        margin-left: -.25rem;
    }
    40% {
        color: maroon;
        margin-left: .25rem;
    }
    60% {
        color: yellow;
        margin-left: -.25rem;
    }
}


/* MAIN STYLES */

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}
a {
    color: aliceblue;
}
a:hover {
    color: aqua;
}

header #title {
    /* display: flex;
    align-items: flex-end; */
    gap: 2rem;
}
header h1 {
    font-size: 2rem;
    font-family: 'Sriracha', cursive;
}
header p {
    color: #777;
}
#nav {
    list-style: none;
    display: flex;
}

#nav .link a {
    margin-left: 1rem;
    font-size: 1.4rem;
}

#bg {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}
main {
    /* background-color: #555; */
    color: white;
    min-height: 100vh;
    padding: 8rem 1rem 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#about {
    background-color: white;
    color: #111;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.3rem;
}

.choose {
    text-shadow: 0 0 2rem rgba(0,0,0,.6);

}

#home .choose {
    font-size: 3rem;
    padding: 2rem;
}
#home #hero {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

#hero .comic-head {
    background-color: black;
    color: white;
    width: 50vh;
    height: 75vh;
    border-radius: .5rem;
}

#hero .comic-head img {
    width: 50vh;
    height: 75vh;
    object-fit: cover;
    position: absolute;
    border-radius: .5rem;
}

#hero .comic-head .pane {
    opacity: 0;
    color: white;

    background-color: rgba(0,0,0,.8);
    padding: 1rem;
    width: 50vh;
    height: 75vh;
    border-radius: .5rem;
    transition: all .2s ease;
}
.comic-head h3 {
    font-size: 2.5rem;
    /* word-spacing: 4px; */
    /* letter-spacing: 2px; */
}
.comic-head p {
    margin-top: 1rem;
    font-size: 1.3rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}

#hero .comic-head:hover .pane {
    opacity: 1;
    backdrop-filter: blur(10px);
}


footer {
    background-color: #111;
    color: #999;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

footer .link {
    display: flex;
}
.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .25rem;
}


#art {
    background-color: #fff;
}

#art .year {
    background-color: #111;
    padding: 1rem;
    font-size: 2rem;
}
#art .cont {
    display: flex;
    flex-flow: row wrap;
}

#art .cont img {
    max-width: 20vw;
    transition: .1s;
}

#art .cont img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 2rem rgba(0,0,0,.8);
}



#comics section {
    max-width: 60rem;
    background-color: #111;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
#comics section > h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#comics .chapters {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    gap: .5rem;

}
#comics .comic > .inner {
    display: flex;
    gap: 1rem;
}

#comics .comic > .inner > .info h4 {
    font-weight: bold;
    margin-bottom: 1rem;
}

#comics .inner img {
    max-width: 15rem;
}


#reader {
    background-color: #000;
}

#reader img {
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: white;
    min-height: 50%;
}

#reader .chapter-nav .links {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: .5rem;
}
#reader .chapter-nav {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-decoration: underline;
}

#reader.simple img {
    width: 90%;
}

#reader.cyoa > .inner {
    max-width: 60rem;
}
#reader.cyoa .nav {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
#reader.cyoa .title {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
#reader.cyoa img {
    width: 100%;
}

#reader.cyoa .text {
    background-color: #cff;
    padding: .5rem;
    color: #111;
}

#reader.cyoa .prompt {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #111;
    text-decoration: underline;
    display: block;
    /* background: linear-gradient(0deg, black, transparent); */
    /* padding: .25rem;
    border-radius: .5rem; */
}
#reader.cyoa .prompt:hover {
    /* color: white; */
    background: linear-gradient(0deg, rgba(0,255,255,.5), transparent);
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 60;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .bg {
    position: absolute;
    z-index: 7;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
}

.modal .inner {
    position: absolute;
    z-index: 10;
    width: 80%;
    max-height: 80vh;
    overflow: auto;
    padding: 1rem;
    background-color: #222;
    box-shadow: rgba(0,0,0,.6);
    padding: 1rem;
}
.modal .inner .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.modal #exit {
    width: 2rem;
    height: 2rem;
    border: none;
}
.modal .inner .list {
    columns: 20rem 3;
}

.modal .inner .list .row {
    display: flex;
    font-size: 1.25rem;
    gap: .5rem;
}
.modal .inner .list .row h3 {
    min-width: 3rem;
    text-align: right;
}
.modal .inner .list .row button {
    padding: .25rem;
}





#error_page {
    font-size: 4rem;
}

#error_page button {
    font-size: 3rem;
    border: none;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    color: #111;
    cursor: pointer;
}

#error_page button:hover {
    background-color: aqua;
}