@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');

:root {
    --bg-color-main: #333;
    --bg-color-darker: #111;
    --text-color-main: #fff;
    --text-color-light: #999;
    --text-color-highlight: rgb(255, 210, 7);
    --spad: .25rem;
    --pad: .5rem;
    --bpad: 1rem;
    --para-width: 60rem;
    --fs-para: 1rem;
    --fs-header: 1.5rem;
    --ff-para: 'Lato', sans-serif;
    --ff-header: 'Bitter', serif;
    --ff-title: 'Sriracha', cursive;
    --bg-image: url("../assets/gib-abstract-bg.jpg");
}

:root .themed {
    --bg-color-main: #345731;
    --bg-color-darker: #ffa;
    --text-color-main: #f32;
    --text-color-light: #322;
    --text-color-highlight: rgb(255, 210, 7);
}


@media only screen and (min-width: 600px) {
    :root {
        --spad: .5rem;
        --pad: 1rem;
        --bpad: 2rem;
        --fs-para: 1.25rem;
        --fs-header: 2rem;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Bitter', serif;

}

body {
    background-color: var(--bg-color-darker);
    color: var(--text-color-main);
    overflow-x: hidden;
}



.hide {
    display: none !important;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}