@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');

:root {
    --bg-color: #000000;
    --bg-color-main: #333;
    --bg-color-darker: #000000;
    --text-color-main: #fff;
    --text-color-light: #999;
    --text-color-highlight: rgb(255, 210, 7);
    --spad: .25rem;
    --pad: .5rem;
    --bpad: 1rem;
    --para-width: 60rem;
    --fs-para: 1rem;
    --fs-header: 1.5rem;
    --ff-para: 'Lato', sans-serif;
    --ff-header: 'Bitter', serif;
    --ff-title: 'Sriracha', cursive;
    --bg-image: url("../assets/gib-abstract-bg.jpg");
}

:root .themed {
    --bg-color-main: #345731;
    --bg-color-darker: #ffa;
    --text-color-main: #f32;
    --text-color-light: #322;
    --text-color-highlight: rgb(255, 210, 7);
}

:root .redman {
    --bg-color: #0a7a00;
    --bg-color-main: #15ff00;
    --bg-color-darker: rgb(0, 97, 24);
    --text-color-main: rgb(0, 0, 0);
    --text-color-light: rgb(0, 0, 0);
    --text-color-highlight: rgb(73, 0, 0);
    
}

:root .bailjape {
    --bg-color: #8b8b8b;
    --bg-color-main: #919191;
    --bg-color-darker: #b4b4b4;
    --text-color-main: rgb(0, 0, 0);
    --text-color-light: rgb(0, 0, 0);
    --text-color-highlight: rgb(0, 4, 255);
}

:root .clarissa {
    --bg-color: rgb(23, 116, 255);
    --bg-color-main: #919191;
    --bg-color-darker: #b4b4b4;
    --text-color-main: rgb(0, 0, 0);
    --text-color-light: rgb(0, 0, 0);
    --text-color-highlight: rgb(255, 255, 255);
}

:root .horsestuck {
    --bg-color: #535353;
    --bg-color-main: #C6C6C6;
    --bg-color-darker: #EFEFEF;
    --text-color-main: rgb(0, 0, 0);
    --text-color-light: rgb(0, 0, 0);
    --text-color-highlight: rgb(0, 4, 255);
}

@media only screen and (min-width: 600px) {
    :root {
        --spad: .5rem;
        --pad: 1rem;
        --bpad: 2rem;
        --fs-para: 1.25rem;
        --fs-header: 2rem;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Bitter', serif;

}

body {
    background-color: var(--bg-color-darker);
    color: var(--text-color-main);
    overflow-x: hidden;
}



.hide {
    display: none !important;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}